.error-msg {
    color: #f50;
    text-align: center;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px !important;
}

.fixed-header .am-navbar {
    position: fixed;
    top: 0;
    width: 100%
}

.page-content {
    padding: 45px 5px;
}

.am-card-header-content>img {
    width: 35px;
    height: 35px;
}

#chat-page .chat-me .am-list-extra {
    flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}

#chat-page .am-grid-icon {
    display: none;
}

.stick-footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
}